.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h2, h3 {
	text-align: center;
}

.containers { 
	background-color: grey;

}